P{
    color:green;
    font-size:24px;
    font-family: Garamond;
}
a{

}
h1 {
	font-family: Verdana;
	color: blue;
}
Body{
background-color: 7C8C91;
}
img{
  margin: center;
}

#menu {
    width: 550px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
    background-color: #8AD9FF;
        border-radius: 8px;
}
#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}


div.para {
         background-color:black;
         color:white;
         margin:20px;
         padding:20px;
     }
     div.MyPhoto {

       position: fixed;
       bottom: 100px;
       right: 100p;
       width: 100px;
       border: 3px solid #73AD21;
}

body{
    background-color:#C6E2FF
}
p1{
  font-family: fantasy;

}
p2{
  font-family: fantasy;;
}
p3{
  font-family: fantasy;
}
